<ul class="social-media-list">
  {%- if site.github_username -%}
  <li>
    <a rel="me" href="https://github.com/{{ site.github_username | cgi_escape | escape }}" title="{{ site.github_username | escape }}">
      <svg class="svg-icon grey">
        <use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"></use>
      </svg>
    </a>
  </li>
  {%- endif -%}

  {%- if site.twitter_username -%}
  <li>
    <a rel="me" href="https://twitter.com/{{ site.twitter_username | cgi_escape | escape }}" title="{{ site.twitter_username | escape }}">
      <svg class="svg-icon grey">
        <use xlink:href="{{ '/assets/minima-social-icons.svg#twitter' | relative_url }}"></use>
      </svg>
    </a>
  </li>
  {%- endif -%}

  {%- if site.email -%}
  <li>
    <a rel="me" href="mailto:{{ site.email }}" title="{{ site.email | escape }}">
      <svg class="svg-icon grey">
        <use xlink:href="{{ '/assets/minima-social-icons.svg#email' | relative_url }}"></use>
      </svg>
    </a>
  </li>
  {%- endif -%}

  {%- if site.rss -%}
  <li>
    <a rel="me" href="{{ 'feed.xml' | relative_url }}" title="{{ site.rss | escape }}">
      <svg class="svg-icon orange">
        <use xlink:href="{{ '/assets/minima-social-icons.svg#rss' | relative_url }}"></use>
      </svg>
    </a>
  </li>
  {%- endif -%}
</ul>
